* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #000;
  color: #e0e0e0;
  height: 100vh;
  overflow: hidden;
}

.sky {
  width: 100%;
  height: 100%;
  position: relative;
}


.stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.8;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.7);
  animation: fall 5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(110vh);
  }
}


.monolito {
  width: 100px;
  height: 250px;
  background-color: #00f;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
  animation: parpadeoMonolito 1.5s infinite alternate;
}

@keyframes parpadeoMonolito {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}


.base-piedra {
  width: 150px;
  height: 30px;
  background-color: #555;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 0;
}


.particle {
  position: absolute;
  background-color: blue;
  border-radius: 50%;
  opacity: 0.7;
  animation: disappear 1s forwards;
}

@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}


.luna {
  position: absolute;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle at 65% 50%, #ccc 60%, transparent 61%);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  animation: orbitarLuna 60s linear infinite;
}

@keyframes orbitarLuna {
  0% {
    top: 5%;
    left: 0%;
  }
  25% {
    top: 10%;
    left: 25%;
  }
  50% {
    top: 5%;
    left: 50%;
  }
  75% {
    top: 0%;
    left: 75%;
  }
  100% {
    top: 5%;
    left: 100%;
  }
}
